@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   font-weight: bolder; 
   box-sizing: border-box;
}

body{
background-color:white;
}

.proj{
    width: 250px;
    height: 250px;

}

.project{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5%;
    margin-top: 0.5%;
}



nav > a:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    
}

nav > a{
    text-decoration: none;
    padding: 5px;
    color: rgb(77, 76, 76);
   
}

nav{
    background-color: transparent;
    padding: 3px;
   
}

footer > p {
    margin: 0px;
    margin-top: 25px;
}

footer{
    background-color: transparent;
    color: gray;
    text-align: center;
    padding: 2px;
    margin: 0px;
    display: block;
    position: relative;
    margin-top: 25px;
}

div{
    text-align: center
   
}

.capa{
    width: 100%;
    height: 300px;
   
}

.devolta{
    text-decoration: none;
    color:rgb(175, 169, 169);
   font:small;
   font-family:Georgia, 'Times New Roman', Times, serif;
   margin-top: 25px;
}

.span{
    text-decoration: none;
    color:black;
   font:small;
   font-family:Georgia, 'Times New Roman', Times, serif;
   display: inline-block;
 vertical-align: top;

 margin-top: 25px;
}

.imgabout{
    width: 250px;
    height: 250px;
margin-top: 25px
}

.redes{
    margin-top: 20px;
    background-color: transparent;
}

.capa{
    width: 100%;
    height: 300px;
   background-attachment: fixed;
}
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@1,500&display=swap');